// :root {
//   --graffiti-background: url(../assets/Graffiti_Black_2048x.png);
//   --redemption-code-background: url(../assets/code-redemption-background_600x.png);
// }

* {
  outline: none;
  padding: 0;
  margin: 0;
}

*,
input,
:before,
:after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    color: #2d89fa;
  }
}

body {
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
button,
select {
  font-size: 14px;
  line-height: 26px;
  font-family: "Roboto", sans-serif;
  color: #282828;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: #f2f3f5;
}

.hide {
  display: none !important;
}

sup,
sub {
  position: relative;
  font-size: 29%;
  vertical-align: baseline;
}

sup {
  top: -1em;
}

ul,
ol {
  list-style-position: inside;
  padding: 0;
}

.text-center {
  text-align: center !important;
}
