.carousel {
  overflow: hidden;

  .slide {
    display: block;
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: top;
  }
}

.slider {
  display: flex;
  height: 89vh;
  overflow: hidden;
  position: relative;

  .arrow {
    display: flex;
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    justify-content: center;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    transition: transform ease-in 0.1s;

    &:hover {
      transform: scale(1.1);
    }

    svg {
      &:focus {
        outline: 0;
      }
    }
  }

  // .slide {
  //   &:not(:first-child) {
  //     margin-left: 6vw;
  //   }

  //   .preview {
  //     height: 100%;
  //     width: 350px;
  //     background: #c4c4c4;
  //     overflow: hidden;

  //     background-size: cover;
  //     background-repeat: no-repeat;
  //     background-position: center;

  //     img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: cover;
  //       object-position: center;
  //     }
  //   }
  //   .infos {
  //     font-weight: light;

  //     h3,
  //     h2 {
  //       font: inherit;
  //     }

  //     h3 {
  //       padding-top: 15px;
  //       color: #635d5d;
  //       font-size: 10px;
  //       text-transform: uppercase;
  //     }
  //     h2 {
  //       font-size: 18px;
  //       color: #000;
  //       padding-top: 10px;
  //     }
  //   }
  // }
}

//-- Dot controls
.dot__controls {
  position: absolute;
  bottom: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
